<footer class="footer">
    <div class="footer-content">
        <p class="footer-title">Mes contacts :</p>
        <ul class="footer-links">
            <li>
                <a href="https://github.com/Squarry115" target="_blank" rel="noopener noreferrer">
                    <img src="/images/25231.png" alt="GitHub" class="footer-icon" />
                    GitHub
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/maël-mace-75304b343" target="_blank" rel="noopener noreferrer">
                    <img src="/images/linkedin_logo_initials.png" alt="LinkedIn" class="footer-icon" />
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="/files/CV.pdf" target="_blank" rel="noopener noreferrer">
                    <img src="/images/PDF_file_icon.svg.png" alt="CV" class="footer-icon" />
                    Mon CV
                </a>
            </li>
        </ul>
        <p class="footer-copy">&copy; {{currentYear}} Maël Macé. Tous droits réservés.</p>
    </div>
</footer>