<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/global.css" />
        <!-- Glide carousel CSS (CDN) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.2/dist/css/glide.core.min.css" />
    </head>
    <body>
        {{> header}}
        {{{ body }}}
        {{> footer}}
        <!-- Glide carousel JS (CDN) and client init -->
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.5.2/dist/glide.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>